body {
  background-color: #6495ed;
}
.down {
  color: indigo;
  /* color:linear-gradient(to left,crimson,orange,tomato,lawngreen,royalblue,magenta); */
  /* text-align: center; */
  position: relative;
  animation-name: AWM;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

/* @keyframes AWM{
    0%{color: crimson;}
    25%{color: orange;}
    50%{color: tomato;}
    75%{color: lawngreen;}
    100%{color: royalblue;}  
} */

@keyframes AWM {
  0% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 780px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.up {
  color: whitesmoke;
  position: absolute;
  animation-name: rocky;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  margin-left: 25%;
  margin-top: -5%;
}

@keyframes rocky {
  0% {
    left: 0px;
  }

  50% {
    left: 720px;
  }

  100% {
    left: 0px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.ruler img {
  border: 4px solid black;
  border-radius: 20px;
  height: 300px;
  width: 500px;
}

.entrance img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.entrance img:hover {
  box-shadow: 10px 5px 5px 3px rgb(63, 63, 63);
  transform: scale(0.8);
  cursor: auto;
  overflow: hidden;
  width: 270px;
  height: 270px;
}

.GovernmentJob img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.GovernmentJob img:hover {
  box-shadow: 10px 5px 5px 3px rgb(63, 63, 63);
  transform: scale(2s);
  cursor: auto;
  overflow: hidden;
  width: 270px;
  height: 270px;
}

.defence img {
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.defence img:hover {
  box-shadow: 10px 5px 5px 3px rgb(63, 63, 63);
  transform: scale(0.8);
  cursor: auto;
  overflow: hidden;
  width: 270px;
  height: 270px;
}

.Admission img {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin-top: 25px;
}

.Admission img:hover {
  box-shadow: 10px 5px 5px 3px rgb(63, 63, 63);
  transform: scale(0.8);
  cursor: auto;
  overflow: hidden;
  width: 270px;
  height: 270px;
}

.otherexam img {
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.otherexam img:hover {
  box-shadow: 10px 5px 5px 3px rgb(63, 63, 63);
  transform: scale(0.8);
  cursor: auto;
  overflow: hidden;
  width: 270px;
  height: 270px;
}

.register {
  border: 2px solid black;
  background-color: lightskyblue;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 300px;
}

.write {
  margin-bottom: 20px;
}

.fn[type="text"] {
  width: auto;
  text-align: center;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #2b65ec;
  width: 100%;
  border-radius: 10px;
}

.frame img {
  width: 20%;
  height: 20%;
  border-radius: 50px;
}

/* .navbar h2{
    font-family: nexa;
    padding-left: 170px;
    
    font-size: 30px; 
} */
.navbar li {
  display: inline;
  float: right;
  margin: 8px 10px;
}
.navbar ul {
  overflow: auto;
}

.navbar .room {
  text-decoration: none;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 40px;
}
.navbar ul li a:hover {
  color: brown;
  transition: 0.5s;
}

ul {
  position: absolute;
  top: 0;
  width: 96%;
}
.navbar li {
  align-items: initial;
}

footer {
  width: 100%;
  position: absolute;

  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 15px;
  line-height: 20px;
  margin-top: 1900px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1;
}

.logo {
  width: 270px;
  margin-bottom: 50px;
  border-radius: 50%;
}

.col h3 {
  width: fit-content;
  margin-top: 40px;
  border: 2px solid red;
  position: relative;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.subjectlist {
  border: 1px solid red;
}

form .self {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa-brands {
  font-size: 18px;
  margin-right: 10px;
}

.social-icons .fa-brands {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;

  border-bottom: 10px #ccc;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}
