*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

body{
  background: whitesmoke;   
}

img{
    width: 20%;
    height: 20%;
    padding-left: 30px;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to left,#802121,#e8e0de);
    color: black;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}