body{
    font-family: sans-serif;
    background: linear-gradient(to right,#fddb92, #34b8c7);  
}

.frame img{
    width: 25%;
    height: 25% ;
    border-radius: 50px;

}

/* .navbar h2{
    font-family: nexa;
    padding-left: 170px;
    
    font-size: 30px; 
} */
.navbar li{
   
    display: inline;
     float:right;
    margin: 8px 10px;
}
.navbar ul{
    overflow: auto;
}

.navbar li a {
    
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 40px;
    
}
.navbar ul li a:hover{
    color: brown;
    transition: .5s;
}

ul {
    position: absolute;
      top: 0;
      width: 96%;
}
.navbar li{
    align-items: initial;
}

h1{
    color: whitesmoke;
    position: relative;
    animation-name:rocky;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    margin-left: 25%;
    margin-top: -5%;
}

@keyframes rocky{
    0%{color: cyan;}
    25%{color: lawngreen;}
    50%{color: lightcoral;}
    75%{color: yellowgreen;}
    100%{color: #CD7F32;}
}

@keyframes rocky {
    0% { left: 0px; }
    
    50% {left: 850px; }
    
    100% {left: 0px; }
    
}