body{
    background-color: #6495ED;
}

.UMP45{
    border: 2px solid red;
    height: 789px;
    width: 600px;
    padding: 20px;
    align-tracks: center;
    margin-left: 14%;
    background-color: whitesmoke;
 text-align: center;
}