*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(../asset/pexels-still-pixels-3699921.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    height: 12%;
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gang{
    margin-bottom: 9px;
}



.maker,img{
    border-radius: 50%;
    width: 280px;
    height: 150px;
   cursor: pointer;
    margin-bottom: 19px;


}
img[class=menu]{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 40px;
}


nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nn{
    border: 2px solid red;
    height: 750px;
    width: 600px;
    padding: 20px;
    align-tracks: center;
    margin-left: 14%;
    background-color: whitesmoke;
 text-align: center;
}
.vm{
    padding-left: 469px;
}

button{
    border-radius: 7px;
    margin-right: 320px;
    size: 20%;
    width: 100px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 70%;
    justify-content: right;
} 

.cols2{
    flex-basis: 70%;
    justify-content: right;
    background: linear-gradient(to top,#4ca1af,#c4e0e5 );
    background-position: center;
    background-size: cover;
    height: 80%;
    width: 20%;
    padding: 20px;
    align-tracks: center;
    margin-left: 14%;
    background-color: whitesmoke;
 text-align: center;
 margin-top: -4%;
 opacity: 1;
 border-radius: 20px;
 overflow-y: scroll;
 overflow-x: hidden;
 
}

h1{
    color: #fff;
    font-size: 70px;
}
.last{
    color: #fff;
    font-size:20px;

}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    
    font-size: 15px;
    line-height: 20px
}

.rows{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.cols{
    flex-basis: 25%;
    padding: 5px;
}
  
.cols:nth-child(2), .cols:nth-child(3){
    flex-basis: 5%;
}

.logo2{
    width: 270px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.cols h3{
    width: fit-content;
    margin-top: 40px;
    position: relative;
    margin-bottom: 30px;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff; 
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
 
    border-bottom: 1px #ccc;
    margin: 20px auto;
}
 .copyright{
     text-align: center;
 }

.tags{
   
    font-size: 17px;
    margin-top: -26px;
    margin-right: 19px;
 }

 .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    top: 6px;
    left: 0px;
    overflow: hidden;
 }

p{
    font-size: 15px;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top:0;
    left: 10px;
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

.social-icons a i{
    color: #fff;
    cursor: pointer;
    
}